services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: NewsSiteDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: ./docker/backend/Dockerfile
    ports:
      - "5000:80"
    environment:
      ConnectionStrings__DefaultConnection: "Host=postgres;Database=NewsSiteDb;Username=postgres;Password=1234"
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://0.0.0.0:80
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data: