@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.prose {
    max-width: none;
}

    .prose p {
        margin-bottom: 1rem;
    }

    .prose img {
        border-radius: 0.5rem;
    }
